@(city: Form[CreateCityForm], cities: Seq[City])(implicit request: MessagesRequestHeader)

@import helper._
@import scala.concurrent.Future

@request.flash.get("success").map { key =>
@request.messages(key)
}

<div class="container-fluid">
    @main("Welcome to Play") {
    @form(routes.CityController.addCity()) {
    @inputText(city("name"))
    @CSRF.formField

    <div class="buttons">
        <input type="submit" value="Add City" class="btn btn-success"/>

    </div>

    <!--<h3>Cities</h3>-->
    <!--<table class="table-striped table-condensed">-->
        <!--<thead>-->
        <!--<tr>-->
            <!--<th scope="col">City Name</th>-->
        <!--</tr>-->
        <!--</thead>-->
        <!--<tbody>-->
        <!--@for(peep <- people) {-->
        <!--<tr>-->
            <!--<td><a href="@routes.CityController.editCity(city.id)">@peep.name</a></td>-->
            <!--<td>@peep.middleName</td>-->
            <!--<td>@peep.age</td>-->
        <!--</tr>-->
        <!--}-->
        <!--</tbody>-->
    <!--</table>-->
</div>
}
}

