@(id: Long, person: Form[CreatePersonForm], cities: Seq[City])(implicit request: MessagesRequestHeader)

@import helper._
@import scala.concurrent.Future

@request.flash.get("success").map { key =>
@request.messages(key)
}

<div class="container-fluid">
    @main("Welcome to Play") {
    <h3>Edit person</h3>
    @form(routes.PersonController.update(id)) {
    @inputText(person("name"))
    @inputText(person("middleName"), '_label -> "Middle name")
    @inputText(person("age"))
    @inputText(person("phone"), '_label -> "Phone number")
    @select(field = person("cityId"),
    options = cities.map(city => city.id.toString -> city.name), '_label -> "City", '_default -> "Choose City")
    @CSRF.formField


    <div class="actions">
        <input type="submit" value="Save" class="btn btn-success">
    </div>
</div>
}

}
