@(id: Long, personForm: Form[CreatePersonForm])(implicit request: MessagesRequestHeader)

@import helper._
@import scala.concurrent.Future

@request.flash.get("success").map { key =>
@request.messages(key)
}

<div class="container-fluid">
    @main("Welcome to Play") {
    <h3>Edit person</h3>
    @form(routes.PersonController.update(id)) {
    @inputText(personForm("name"))
    @inputText(personForm("middleName"), '_label -> "Middle name")
    @inputText(personForm("age"))
    @CSRF.formField


    <div class="actions">
        <input type="submit" value="Save" class="btn btn-success">
    </div>
</div>
}

}
