@(person: Form[CreatePersonForm], people: Seq[Person])(implicit request: MessagesRequestHeader)

@import helper._
@import scala.concurrent.Future

@request.flash.get("success").map { key =>
@request.messages(key)
}

<div class="container-fluid">
    @main("Welcome to Play") {
    @form(routes.PersonController.addPerson()) {
    @inputText(person("name"))
    @inputText(person("middleName"), '_label -> "Middle name")
    @inputText(person("age"))
    @CSRF.formField

    <div class="buttons">
        <input type="submit" value="Add Person" class="btn btn-success"/>

    </div>
    }
    <a href="@routes.CityController.index"><button value="Add New City" class="btn btn-info">Add New City</button></a>

    <h3>People</h3>
    <table class="table-striped table-condensed">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Middle name</th>
            <th scope="col">Age</th>
        </tr>
        </thead>
        <tbody>
        @for(peep <- people) {
        <tr>
            <td><a href="@routes.PersonController.editPerson(peep.id)">@peep.name</a></td>
            <td>@peep.middleName</td>
            <td>@peep.age</td>
        </tr>
        }
        </tbody>
    </table>
</div>

}

